*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  overflow-x:hidden;
  overflow-y:hidden;
  
}

body {
            
           
            color: white; 
            text-align: center;
            padding: 0px;
            margin:0px;
            font-family: "Merriweather", serif;
            background: linear-gradient(to bottom right,#5409DA,#4E71FF, #8DD8FF,#BBFBFF);
            background-size: 300% 300%;
            animation: text-animation 4s ease-in-out infinite, gradient-animation 4s ease-in-out infinite;

            
            
        }

html{
  scroll-behavior: smooth;
}
        .container {
            max-width: 100%;
            margin-top:10vh;
            padding: 20px;
            display:flex;
            flex-wrap:wrap;
            flex-direction: column;
            align-items: center;
            
        }
        .search-bar {
            display:flex;
            flex-wrap:wrap;
            width:80%;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-bottom:20px;
            padding:20px;
            background-color: rgb(214, 236, 255,0.3);
            opacity: 10;
        }
        .search-bar input {
            
            width: 90%;
            padding: 10px;
            border: none;
            color:white;
            outline-color:whitesmoke;
            background-color: rgba(214, 236, 255, 0.197);
            border-radius: 5px 0 0 5px;
        }
        .search-bar input::placeholder{
            color:beige;
            animation:text-animation 4s ease-in-out infinite;
            padding-left:10px;
            
        }
        .search-bar button {
            padding: 10px;
            border:none;
            background: white;
            color: #78b5ff;
            border-radius: 0 5px 5px 0;
            cursor: pointer;
            margin-left:5px;
           
            
        }
        .location-button {
            margin-bottom: 20px;
        }
        .location-button button {
            padding: 10px;
            border: none;
            border-radius: 5px;
            color: whitesmoke;
            animation:text-animation 4s ease-in-out infinite;
            cursor: pointer;
            background-color: rgba(214, 236, 255, 0.197);
        }
        .toggle-switch {
            margin-bottom: 20px;
        }
        .toggle-switch input {
            display: none;
        }
        .toggle-switch label {
            cursor: pointer;
            padding: 10px;
            background: white;
            color: #4a00e0;
            border-radius: 5px;
            background-color: rgba(214, 236, 255, 0.197);
            color:whitesmoke;
        }
        .error-message {
            background: rgba(255, 0, 0, 0.1);
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        .weather-details {
            padding: 20px;
            border-radius: 10px;
        }

/*animation*/
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes text-animation {
  0%{
    text-shadow: 1px 1px 2px black;
  }
  50%{
    text-shadow: 2px 2px 3px black;
  }
  100%{
    text-shadow: 1px 1px 2px black;
  }
}

@media (max-width: 1053px) {
.search-bar button {
          width: 90%;
          margin-top:10px;
            
        }
}